################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Domain/bin/
/Domain/obj/
/Infrastructure/bin/
/Infrastructure/obj/
/UI/bin
/UI/obj
/UnitTests/bin
/UnitTests/obj
/Application/obj
/Application/bin
/.vs
