################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Domain/bin/
/Domain/obj/
/Infrastructure/bin/
/Infrastructure/obj/
/UI/bin
/UI/obj
/UnitTests/bin
/UnitTests/obj
/ViewModels/obj
/ViewModels/bin
/.vs
/Applications/bin
/Applications/obj
/Utilities/bin
/Utilities/obj
/UI/UI_TemporaryKey.pfx
